body
{
	padding: 0px;
	margin: 0px;
	background-color: #1A1A1A;
}
#topbar-triangle
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 125px solid #530000;
    border-right: 225px solid transparent;
}
#topbar
			{
    position: fixed;
	background: #530000;
    color: gold;
    text-align: center;
    top: -1%;
	left: 0px;
	right: 0px;
	font-size: 16px;
	padding: 3px;
}
#blankspace
{
	margin-bottom: 5%;
	color:#1A1A1A;
}
.title-text
{
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
}
.smaller_title_text
{
    font-size: 22px;
    font-weight: bold;
	text-align: center;
}
.small_heading_text
{
	font-size: 17px;
    font-weight: bold;
	text-align: center;
}
.center-block
		   {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 90px;
	background-color: lavender;
	border-radius: 10px;
}
.center-block > p
{
	padding: 10px;
}
.classic_style
{
	font-size: 16px;
	text-align: left;
	font-weight: normal;
}

a:link {
    color: #2FD5FF;
}
a:visited {
    color: #7D7CA8;
}
a:hover {
    color: 0000EE;
}
a:active {
    color: 0000EE;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
